/*Common styles*/
a {
    text-decoration: none;
}

button {
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 320px;
    padding: 96px 16px;
    margin-bottom: 96px;
    /* margin-top: 96px; */
    /* margin-right: auto; */
}

@media only screen and (min-width: 768px) {
.container {
    width: 768px; 

}
}

@media only screen and (min-width: 1158px) {
    .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    }
}

.secondary-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
    /* margin-top: 96px; */
    /* margin-left: auto;
    margin-right: auto; */
}

/*/Common styles*/

/*Page header styles*/


.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-style {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}



.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}



@media only screen and (max-width: 767px){
  .menu-open-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    stroke: #2f2f37;
    line-height: 0;
}  
    .menu, 
    .contact-list {
    display: none;
}
    .page-header {
    padding-top: 16px;
    padding-bottom: 16px;
}
.menu-open-btn-icon {
    border: none;
    line-height: 0;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}
}

@media only screen and (min-width: 767px){
    .menu,
    .contact-list {
        display: flex;
    }
    .menu-open-btn {
        display: none;
    }
    .page-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 496px;
        }
       
    .menu {
            display: flex;
            gap: 40px;
            margin-right: auto;
            } 
            .menu-open-btn-icon {
            display: none;
        }
        .contact {
            display: block;

        }
        .contact-list {
            display: flex;
                flex-direction: column;
                gap: 12px;
                margin-left: 120px;
        }
        .logo {
            margin-right: 120px;
    }
.menu-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.underline {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 48px;
    height: 4px;
    margin-left: auto;
    margin-right: auto;
    background-color: #404bbf;
    margin-top: 20px;
    border-radius: 2px;

    }
        .contact {
            display: flex;
            align-items: center;
            font-size: 12px;
            line-height: 1.16;
            letter-spacing: 0.02em;
            font-style: normal;
            color: #434455;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .contact:hover,
        .contact:focus {
            color: #404bbf;
        }
}
@media screen and (min-width:1158px){
    .logo {
        margin-right: 76px;
    }
    .contact-list {
        flex-direction: row;
        gap: 40px;
    }
    .contact {
        font-size: 16px;
        line-height: 1.5;
    }
    
}
/* =============Mobile menu styles=========== */
@media only screen and (max-width: 767px) {
.mobile-menu {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms linear, visibility 250ms linear;
}


.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
}

.mobile-menu-close-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 24px;
        height: 24px;
        top: 24px;
        right: 24px;
        border-radius: 50%;
        background-color: transparent;
        fill: #2E2F42;
        stroke-width: 1px;
        stroke: rgba(0, 0, 0, 0.1);
       
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;
        line-height: 0;
         /* transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.mobile-menu-container {
    position: relative;
}
}

@media only screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}
/* =============/Mobile menu styles=========== */






/* ==========SECTION BENEFITS=========== */
.menu-benefits {
    display: flex;
    flex-direction: column;
    gap: 72px;
}
.icon-container {
    display: none;
}
.menu-benefits-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    text-align: center;
   
}

.menu-benefits-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .menu-benefits {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 24px;
        column-gap: 72px;
    }
    .benefits-item {
    flex-basis: calc((100% - 72px)/2);
  }
}

@media screen and (min-width: 1158px) {
.menu-benefits {
    gap: 24px;
}
 
    .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
} 
.menu-benefits-text {
    font-weight: 400;
   
}
.menu-benefits-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
}
.benefits-section {
    padding: 120px 0;
}

.benefits-item {
    flex-basis: calc((100% - 72px) / 4);
}
}
/* ==============Section Team========== */



.section-team {
   /* padding-right:  28px; */
    background: #f4f4fd;
}


.team-member {
    background-color: #FFFFFF;
            /* width: calc((100% - 72px)/ 4); */
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
   
    margin-top: 72px;
    margin-bottom: 0;
    width: 264px;
    

}

.card-employee {
    padding: 32px 0;
    
}

.name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.position {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 12px;
}

.social-list {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;

}

.social-list-item {
    width: 40px;
    height: 40px;
}

.social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social-list-link:hover,
.social-list-link:focus {
    background-color: #404bbf;
}

.social-list-icon {
    fill: #f4f4fd;

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1158px) {
.team {
    display: flex;
    gap: 24px;

    }
    .section-team {
    padding: 120px 0;
    }

        .team-member {
        width: calc((100% - 72px)/ 4);
}