/*Common styles*/
a {
    text-decoration: none;
}

button {
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 320px;
    padding: 96px 16px;
    margin: 0 auto;
   
}

.container.header {
    padding: 16px;
}

@media only screen and (min-width: 768px) {
.container {
    width: 768px; 
}
}

@media only screen and (min-width: 1158px) {
    .container {
    width: 1158px;
    padding: 0 16px;
    margin-left: auto;
    margin-right: auto;
    }
}


/*/Common styles*/

/*Page header styles*/


.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    
}

.logo-style {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.page-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
    justify-content: space-between;
}

.menu {
     display: none;
    
}

.contact-list {
     display: none;
    
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.page-header {
    border-bottom: 1px solid #e7e9fc;
    /* display: flex; */
    /* justify-content: space-between; */
    padding: 0 15px 0 15px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}


.secondary-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
    /* margin-top: 96px; */
    /* margin-left: auto;
    margin-right: auto; */
}


.main-page {
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url("../images/hero-image-tel-1x.jpg");
    background-size: cover;
    background-color: #2e2f42;
    /* padding: 188px 0; */
    padding: 72px 52px;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .main-page {
        background-image: linear-gradient
        (rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/hero-image-tel-2x.jpg");
    }
}

    .title {
        max-width: 216px;
        /* max-width: 496px; */
        /* margin-bottom: 48px; */
        margin-bottom: 72px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-weight: 700;
        /* font-size: 56px; */
        font-size: 36px;
        /* line-height: 1.07; */
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #ffffff;


    }

    .button {
        display: block;
        margin-bottom: 72px;
        margin-left: auto;
        margin-right: auto;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        background-color: #4D5AE5;
        min-width: 169px;
        height: 56px;
        padding: 16px 32px;
        border: none;
        border-radius: 4px;
    }

    .button:hover,
    .button:focus {
        color: #ffffff;
        background: #404bbf;
    }

@media only screen and (max-width: 767px){
  .menu-open-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    stroke: #2f2f37;
    line-height: 0;
    /* margin-left: auto; */
    
}  
.menu-open-btn-icon {
    border: none;
    line-height: 0;
    background-color: transparent;
    /* padding: 0; */
    cursor: pointer;
    
}   
    /* .page-header {
    padding-top: 16px;
    padding-bottom: 16px;
} */

}

@media only screen and (min-width: 767px){
    .menu {
        display: flex;
        gap: 40px;
        margin: 0 auto;
    }

    .contact-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-left: auto;
    }
    .menu-open-btn {
        display: none;
    }
    .page-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 496px;
        }
       
        .contact {
        align-items: center;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        font-style: normal;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contact:hover,
    .contact:focus {
        color: #404bbf;
    }

           
.menu-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.underline {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 48px;
    height: 4px;
    margin-left: auto;
    margin-right: auto;
    background-color: #404bbf;
    margin-top: 20px;
    border-radius: 2px;
}
    

.main-page {
    min-width: 768px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url("../images/hero-image-tab-1x.jpg");
    background-size: cover;
    background-color: #2e2f42;
    /* padding: 188px 0; */
    padding: 112px 136px;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .main-page {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/hero-image-tab-2x.jpg");
    }
}
    .title {
        min-width: 496px;
        
        /* margin-bottom: 48px; */
        /* margin-bottom: 72px; */
        margin-bottom: 36px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #ffffff;
    }
}
/* ==============HERO SECTION===== */


@media screen and (min-width: 1158px){
    .logo {
        margin-right: 76px;
    }
    .contact-list {
        flex-direction: row;
        gap: 40px;
    }
    .contact {
        font-size: 16px;
        line-height: 1.5;
    }
    
}
/* =============Mobile menu styles=========== */
.mobile-menu {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 40px;
    padding-left: 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0; 
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms linear, visibility 250ms linear;
}

/* .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
} */

.mobile-menu-close-btn {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    background-color: transparent;
    fill: #2E2F42;

    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    line-height: 0;
}

.modal-close-btn {
    display: block;
    margin-left: auto;
    margin-bottom: 24px;
    margin-top: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: transparent;
    fill: #2E2F42;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);

    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    line-height: 0;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
    fill: #FFFFFF;
    background-color: #404BBF;
    border: none;
}
.mob-menu-link {
font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.mob-menu-link:hover,
.mob-menu-link:focus {
    color: #404bbf;
}

.mob-menu-item {
    margin-bottom: 40px;
}

.mobile-nav-menu {
    margin-top: 72px;
}

.mob-contact {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;
        font-style: normal;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
.mob-contact:hover,
.mob-contact:focus {
     color: #404bbf;
 }

.mob-social-list {
    display: flex;
    gap: 40px;
    margin-top: 48px;
}

.mob-social-list-item {
    width: 40px;
    height: 40px;
}

.mob-social-list-link {
    display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #4d5ae5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-social-list-icon {
    fill: #f4f4fd;
}




@media only screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}
/* =============/Mobile menu styles=========== */






/* ==========SECTION BENEFITS=========== */
.menu-benefits {
    display: flex;
    flex-direction: column;
    gap: 72px;
    
}
/* .icon-container {
    display: none;
} */
.menu-benefits-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 8px;
   
}

.menu-benefits-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
    .icon-container {
     display: flex;
     align-items: center;
     justify-content: center;
     background: #f4f4fd;
     border: 1px solid #8e8f99;
     border-radius: 4px;
     /* width: 264px; */
     height: 112px;
     margin-bottom: 8px;
 }

@media screen and (max-width: 1158px) {
    .icon-container,
    .benefits-list-icon {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .menu-benefits-title {
        text-align: left;
    }
    .menu-benefits {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 24px;
        column-gap: 72px;
    }
    .benefits-item {
    flex-basis: calc((100% - 72px) / 2);
  }
}

@media screen and (min-width: 1157px) {
.menu-benefits {
    gap: 24px;
}
 
.menu-benefits-text {
    font-weight: 400;
   
}
.menu-benefits-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    
}
.benefits-section {
    padding: 120px 0;
}

.benefits-item {
    flex-basis: calc((100% - 72px) / 4);
}
}
/* ==============Section Team========== */



.section-team {
   /* padding-right:  28px; */
    background: #f4f4fd;
}


.team-member {
    background-color: #FFFFFF;
            /* width: calc((100% - 72px)/ 4); */
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
   
    margin-top: 72px;
    margin-bottom: 0;
    width: 264px;
}

.card-employee {
    padding: 32px 0;
    
}

.name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.position {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 12px;
}

.social-list {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;

}

.social-list-item {
    width: 40px;
    height: 40px;
}

.social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social-list-link:hover, 
.social-list-link:focus {
    background-color: #404bbf;
} 

.social-list-icon {
    fill: #f4f4fd;

}

@media screen and (min-width: 768px) {
.section-team .container {
    width: 584px;
}
}

@media screen and (min-width: 1158px) {
.section-team .container {
        width: 1158px;
    }
    .team {
    display: flex;
    gap: 24px;

    }
    .section-team {
    padding: 120px 0;
    }

        .team-member {
        width: calc((100% - 72px)/ 4);
        }
}