
/*Comon styles*/
a {
text-decoration: none;
}

button {
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

ul, 
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

body{
font-family: "Roboto", sans-serif;
background-color: #FFFFFF;
color: #434455;
}
/*/Comon styles*/

/*Page header styles*/
.logo{
font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

  

.logo-style{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
}



.menu-link{
display: block;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42; 
padding-top: 24px;
padding-bottom: 24px;   
}

.menu-link:hover, 
.menu-link:focus{
    color: #404bbf;
}
.underline {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.underline::after {
content: '';
position: absolute;
left: 0;
bottom: -1px;
display: block;
width: 48px;
height: 4px;
margin-left: auto;
margin-right: auto;
background-color: #404bbf;;
margin-top: 20px;
border-radius: 2px;

}
.contact{
    display: flex;
     align-items: center;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        font-style: normal;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact:hover,
.contact:focus{
    color: #404bbf;
}
/*/Page header styles*/

/* Hero Sections Styles*/
.main-page{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
    rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero-background.jpg");
    background-size: cover;
    background-color:#2e2f42;
    padding: 188px 0;
    background-repeat: no-repeat;
    background-position: center;
}
.title{
       max-width: 496px;
      margin-bottom: 48px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #ffffff;
        
       
    }

 .button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    min-width: 169px;
        height: 56px;
        padding-left: 32px;
        padding-right: 32px;
        border: none;
        border-radius: 4px;
    }

    .button:hover,
    .button:focus{
        color: #ffffff;
        background: #404bbf;
    }
/* /Hero Sections Styles*/
.section{
    padding-top: 120px;
    padding-bottom: 120px;

}

.team {
    display: flex;
    gap: 24px;

}
.menu-benefits {
    display: flex;
        gap: 24px;
        }
.icon-container {
    display: flex;
    align-items: center;
        justify-content: center;
    background: #f4f4fd;
    border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        margin-bottom: 8px;
}
    .images-overlay {
        position: relative;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            gap: 0;
            background: #ffffff;
            width: 360px;
            height: 300px;
    }
        .box-text-overlay {
            position: absolute;
            top: 0;
            bottom: 120px;
            background-color: #4d5ae5;
            color: #f4f4fd;
            width: 100%;
            height: 100%;
            overflow: auto;
            transform: translateY(100%);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
            padding: 40px 32px;
            letter-spacing: 0.02em;
            text-align: left;
            font-size: 16px;
            line-height: 1.5;
        }
     .portfolio-item:hover .box-text-overlay {
     transform: translateY(0%);
            
     }
    .portfolio-list {
    display: flex;
        column-gap: 24px; 
        row-gap: 48px;
        flex-wrap: wrap;
        
        
    }
 .menu-benefits-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}
.menu-benefits-text{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}


.secondary-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 72px;
        margin-left: auto;
        margin-right: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.team-member{
background-color: #FFFFFF;
width: calc((100% - 72px)/ 4);
border-radius: 0px 0px 4px 4px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    
}
.card-employee {
 padding: 32px 0;   
}

.position{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 12px;
}
.name{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center; 
        color: #2e2f42;
        margin-bottom: 8px;
}
.portfolio-title{
    margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.benefits-section {
   padding: 120px 0;
}
.benefits-item {
    width: calc((100% - 72px) / 4);
}
.page-nav {
    display: flex;
    align-items: center;
    }
.menu {
    display: flex;
    gap: 40px;
    margin-right: auto;
}
.contact-list {
    display: flex;
    column-gap: 40px;
    gap: 40px;
    }

  .page-header {
    border-bottom: 1px solid #e7e9fc;
    display: flex;
    justify-content: space-between;
    padding: 0 15px 0 15px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  
.logo {
    margin-right: 76px;
}

    .portfolio-item {
        width: calc((100% - 48px)/3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
    }
    .portfolio-item:hover,
    .portfolio-item:focus{
      box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);  
    }
        
.section-team {
    padding: 120px 0;
    background: #f4f4fd;
}
.social-list {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    
}
.social-list-link {
    display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #4d5ae5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
    }
        .social-list-link:hover,
        .social-list-link:focus {
        background-color: #404bbf;
        }

    .social-list-icon {
        fill: #f4f4fd;
        
    }

    .social-list-item {
        width: 40px;
        height: 40px;
    }
        
.app-wrapper {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.header {
    display: flex;
    justify-content: space-between;
}

                           /*=========Footer=========*/
.bottom{
    background-color: #2e2f42;
    height: 312px;
    padding: 100px 0;
}

.logo-style-bottom{
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}
.bottom-text{
    color: #F4F4FD;
    font-family: "Roboto", sans-serif;
         font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        width: 264px;
        padding-top: 16px;
        padding-bottom: 100px;
        }
.social-media-footer-title {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;

}
.container-second {
    display: flex;
    flex-direction: column;
    max-width: 208px;
    }
.footer {
    display: flex;
    align-items: baseline;
    
}
.footer-social-list {
display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.media:hover,
.media:focus {
    background-color: #31d0aa;
   
}

.container-first {
    display: block;
 margin-right: 120px;   
}
/*===============Backdrop styles======================*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
}

/*===================Modal window====================*/
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    fill: #2E2F42;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    line-height: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    fill: #FFFFFF;
    background-color: #404BBF;
    border: none;
}

.modal-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*===================Review form====================*/
.feedback-form-desvription {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 16px;
}
.feedback-form-input {
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 100%;
        height: 40px;
        padding-left: 38px;
        background-color: transparent;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
}
.feedback-form-field-wrapper {
    margin-bottom: 8px;
    
}
.feedback-form-field-label {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        margin-bottom: 4px;
}


.feedback-form-input-wrapper {
    position: relative;
}
.feedback-form-field-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    stroke: #000000;
    left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-form-input:focus {
    border-color: #4d5ae5;
    outline: transparent;
}

.feedback-form-input:focus + .feedback-form-field-icon {
    fill: #4d5ae5;
    stroke: #4d5ae5;
}
.feedback-form-user-comment {
    margin-bottom: 16px;
}
.comment-message {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
    height: 120px;
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    resize: none;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    outline: transparent;
    
}
.comment-message::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.comment-message:focus {
    border-color: #4d5ae5;
    outline: transparent;
}

.feedback-form-checkbox-label {
    font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
}
.privacy-policy-link {
line-height: 1.33;
text-decoration: underline;
color: #4d5ae5;    
}

.feedback-form-own-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    cursor: pointer;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-form-privacy-checkbox:checked + .feedback-form-checkbox-label .feedback-form-own-checkbox {
    background-color: #404bbf;
    fill: #f4f4fd;
    border: none;
}
.feedback-form-privacy-checkbox:focus +.feedback-form-checkbox-label .feedback-form-own-checkbox {
outline: 1px solid #404bbf;
border: none;
}

.checkbox-wrapper {
    margin-bottom: 24px;
}

.feedback-form-submit-btn {
        display: block;
        border-radius: 4px;
        padding: 16px 32px;
        min-width: 169px;
        height: 56px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        border: none;
        background: #4d5ae5;
        font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            text-align: center;
            color: #ffffff;
            margin-left: auto;
            margin-right: auto;
            cursor: pointer;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-btn {
    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        min-width: 165px;
        height: 40px;

    border-radius: 4px;
        padding: 8px 24px;
        background-color: #4d5ae5;
        font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            text-align: center;
            color: #fff;
            border: none;
            cursor: pointer;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     
}


.container-third {
        margin-left: 80px;
}

.subscribe-form-input {
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #ffffff;
        padding-left: 16px;
    width: 264px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    
}
.subscribe-text {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}


.subscribe {
    display: flex;
    gap: 24px;
}

.subscribe-form-input::placeholder {
    color: #ffffff;
}

.subscribe-icon {
    fill: #ffffff;
    margin-left: 16px;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: #404BBF;
}